.pannel {
  user-select: none;
  box-sizing: border-box;
  width: 30.9%;
  min-width: 360px;
  max-width: 900px;
  height: 100%;
  padding: 24px 24px 120px 24px;
  overflow-y: scroll;
}

.pannel::-webkit-scrollbar {
  width: 2px;
}

.pannel::-webkit-scrollbar-button {
  background-color: transparent;
}

.pannel::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.pannel::-webkit-scrollbar-track {
  background-color: transparent;
}

.pannel ul {
  margin: 0;
  padding: 0;
}

.pannel .list {
  padding: 12px 0 12px 0;
}

.pannel .dirlist {
  margin-left: 0;
  padding-left: 24px;
}

.pannel .dir {
  list-style: none;
}

.pannel .dirname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.pannel .file {
  list-style: none;
}

.pannel .filename {
  /* color: #999; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.pannel .pkgdef {
  color: #000;
}

.pannel .pkghl {
  color: #f0f;
}

.pannel .diritem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pannel .diricon {
  width: 14px;
  font-size: 12px;
  font-weight: 600;
}

.pannel .dirtext {
  cursor: pointer;
}

.pannel .filetext {
  cursor: pointer;
  color: #666;
}

.pannel .enter {
  cursor: pointer;
  width: 12px;
  margin-left: 16px;
  border-radius: 50%;
}

.pannel .callable {
  list-style: none;
}

.pannel .callablename {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 18px;
}

.pannel .callabletext {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  cursor: pointer;
}