.search {
  width: 100%;
}

.bar {
  margin-left: 6px;
  padding: 0 .5rem;
  height: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent;
}

.bar::placeholder {
  color: #aaa;
  font-size: 18px;
}